@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

.app {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Roboto Mono", monospace;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  margin-top: -8rem;
  margin-bottom: 8rem;
  height: 5rem;
  padding-left: 20%;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff;
}

.links {
  display: flex;
}

.link {
  margin-top: 2rem;
  padding-right: 20px;
  height: 50px;
  color: #3b0404;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.15s ease-in-out, transform 250ms;
}

.link:hover {
  color: #988686;
  transform: translateY(-7px);
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  padding-left: 20%;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff;
}

.footerText {
  margin-top: 2rem;
  padding-right: 20px;
  height: 50px;
  color: #3b0404;
  font-size: 18px;
}

@media only screen and (max-width: 1820px) {
  .app {
    margin-left: 5%;
    margin-right: 5%;
  }

  .navBar {
    padding-left: 5%;
  }

  .footer {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .link,
  .link:hover {
    transition: none;
    transform: none;
    color: #3b0404;
  }
}
