.projects {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  margin-top: 5rem;
  font-size: 48px;
  color: #3b0404;
}

@media only screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
  }
}
