.tech {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .heading {
    margin-top: 5rem;
    font-size: 48px;
    color: #3B0404;
  }

  .subheading {
    font-size: 24px;
    color: #5C4E4E;
    width: 24%;
    margin-top: 5rem;
    transition: transform 250ms;
  }

  .subheading:hover{
    transform: translateY(-7px);
  }

@media only screen and (max-width: 1820px) {
    .tech {
      flex-direction: column;
      align-items: left;
    }
  }